{% extends 'base.html' %}
{% block content %}
   <header class="masthead" style="background-image: url('static/img/')">
   <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
             <h1>Welcome, {{ username }}</h1>
            
          </div>
        </div>
      </div>
    </div>
  </header>  
<body>
  
    
    <form method = "POST">
        <textarea cols="50" rows="4" name="message" id="message"></textarea>
        <br>
        <button onclick="writetofile()">Send message</button>
        <button onclick="chathistory()">Download chat Histoy</button>
    </form>
    
    {% for message in chat_messages %}
        <p>({{ message.timestamp }}) {{ message.from }}: {{ message.message }}</p>
    {% endfor %}
    
    <script>
        let textbox = document.getElementById("message")
    
        let timer = setTimeout(function() {
            location.reload();
        }, 5000)
        
        textbox.onkeydown = function(e) {
            
            clearTimeout(timer)
            
            timer = setTimeout(function() {
                location.reload();
            }, 5000)
            
        }
        
    </script>
    
{% endblock %}